{% extends 'base.html' %}

{% block content %}

    <h1>Post</h1>

    <ul>
    {% for post in object_list %}
    
        <li><a href="{% url 'article_details' post.pk %}">{{ post.title}}</a>
             - <a href="{% url 'categories' post.category %}">{{ post.category }}</a>
             - {{ post.author.first_name}} {{ post.author.last_name}}
             - <small>{{ post.get_formatted_created }}</small>

        {% if user.is_authenticated %}
           - <small><a href="{% url 'update_post' post.pk %}">(Edit)</a> - <a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
        {% endif %}

        <br/>
        {{ post.content|slice:":500" }}</li>

    {% endfor %}
    </ul>

{% endblock %}