{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block content %}

    <h1>Change Password</h1>
    <br>
    <div class="form-floating">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Change Password</button>
    </div>
    <br/>
    <ul>
        <small>
        <li>Your password should be case sensitive.</li>
        <li>Your password can't be too similar to your other personal information.</li>
        <li>Your password should must contain at least 8 chaaracters.</li>
        <li>Your password can't be a commonly used password.</li>
        <li>Your password can't be enterely numeric.</li>
        <small/>
    </ul>

{% endblock %}